body{
    background-color: lightblue;
    padding: 10px;
}
h1{
    text-align: center;
}
.container{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    background-color: blue;
}

.box{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    align-items: center;
    width: calc(100% / 10 - (90px / 10));
    aspect-ratio: 1;
    background-color: bisque;
}

/* background color */
.fizz{
    background-color: aquamarine;
}

.buzz{
    background-color: rgb(255, 223, 94);
}

.fizz-buzz{
    background-color: greenyellow;
}